<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  <title>Edit a thing!</title>
</head>
<body>
  <div class='container'>
    <h1>Update this {{ cuisine.getType }} cuisine!</h1>

    <form action='/cuisines/{{ cuisine.getId }}' method='post'>
      <input name='_method' type='hidden' value='patch'>

      <div class='form-group'>
        <label for='type'>Rename your cuisine:</label>
        <input id='type' name='type' class='form-control' type='text'>
      </div>

      <button type='submit' class='btn btn-success'>Update!</button>
    </form>

    <form action='/cuisines/{{ cuisine.getId }}' method='post'>
      <input name='_method' type='hidden' value='delete'>

      <button type='submit' class='btn btn-success'>Delete this cuisine!</button>
    </form>
  </div>
</body>
</html>
